<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'random_word_generator/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="container">
        <form action="/random_word/generate/" method="post" id="randomForm">
            {% csrf_token %}
            <label id="title">Random Word (Attempt #<span>{{request.session.attempt}}</span>)</label>
            <label id="random">{{request.session.random}}</label>
            <input type="submit" name="generate" id="" value="Generate">
            <input type="submit" name="reset" id="" value="Reset">
        </form>
    </div>
</body>
</html>