<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'display_time/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="container">
        <h3 id="header">The current time and date</h3>
        <h1 id="dateTime">{{time}}</h1>
    </div>
</body>
</html>